<% include ./partials/header %>

<div class = "container" >
    <h1>Sign In!</h1>

    <form action="/login" method="POST">
        <input type="text" id="name" name="username" placeholder="User Name">
        <input type="password" id="password" name="password" placeholder="Password">
        <button>Sign In</button>
    </form>
</div>

<% include ./partials/footer %>